<div class="col-12 pt-4 bg-gray-gradient">
    <div class="col-12 d-flex flex-wrap justify-content-center">
        <div class="col-md-6 m-1">
            <div class="col-12 border p-3  bg-white shadow">
                <strong class="d-block my-2 h5">Detalle</strong>
                <div class="col-12 border-top d-flex flex-wrap px-3  py-4">
                    <div class="col-6 p-1">
                        <strong class="d-block">ID Ticket : </strong> 
                        1
                    </div>
                    <div class="col-6 p-1">
                        <strong class="d-block">Asunto:</strong>
                        Prueba de asunto
                    </div>
                    <div class="col-12 p-1">
                        <strong class="d-block">Solicitud:</strong>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 m-1">
            <div class="col-12 border p-3 bg-white  shadow">
                <strong class="d-block my-2 h5">Información Adicional</strong>
                <div class="col-12 border-top d-flex flex-wrap px-3  py-4">
                    <div class="col-12 p-1">
                        <strong class="d-block">Estado: </strong> 
                        Abierto
                    </div>
                    <div class="col-12 p-1">
                        <strong class="d-block">Etapa:</strong>
                        esperando respuesta cliente
                    </div>
                    <div class="col-12 p-1">
                        <strong class="d-block">Fecha Creación:</strong>
                        2021-01-29 4:37 PM
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 mt-md-4  m-1" style="height: 81vh;">
            <div class="col-12 p-3 bg-white shadow h-100" >
                <strong class="d-block my-2 h5">Seguimiento del ticket </strong>
                    <div class="col-12 border-top   px-3  py-4" style="overflow-y:auto; height: 79%;">
                        <div class="d-flex pl-5 justify-content-end ">
						
                            <span style="background-color: #dbf5c6;" class=" text-left p-2 m-1 badge">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</span>
                        </div> 
                        <div class="d-flex pr-5  justify-content-start ">
                                
                            <span style="background-color: #d8edf9 ;"  class="text-left p-2 m-1 badge no-badge">
                            <footer class="blockquote-footer">asdasd</footer>
                           Respuesta de la otra persona
                            </span>
                        </div> 
                        <div class="d-flex pl-5 justify-content-end ">
						
                            <span style="background-color: #dbf5c6;" class=" text-left p-2 m-1 badge">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</span>
                        </div>
                        <div class="d-flex pl-5 justify-content-end ">
						
                            <span style="background-color: #dbf5c6;" class=" text-left p-2 m-1 badge">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</span>
                        </div>
                        <div class="d-flex pr-5  justify-content-start ">
                                
                            <span style="background-color: #d8edf9 ;"  class="text-left p-2 m-1 badge no-badge">
                            <footer class="blockquote-footer">asdasd</footer>
                           Respuesta de la otra persona
                            </span>
                        </div>
                        <div class="d-flex pr-5  justify-content-start ">
                                
                            <span style="background-color: #d8edf9 ;"  class="text-left p-2 m-1 badge no-badge">
                            <footer class="blockquote-footer">asdasd</footer>
                           Respuesta de la otra persona
                            </span>
                        </div>
                        <div class="d-flex pr-5  justify-content-start ">
                                
                            <span style="background-color: #d8edf9 ;"  class="text-left p-2 m-1 badge no-badge">
                            <footer class="blockquote-footer">asdasd</footer>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                            </span>
                        </div>
                        <div class="d-flex pr-5  justify-content-start ">
                                
                            <span style="background-color: #d8edf9 ;"  class="text-left p-2 m-1 badge no-badge">
                            <footer class="blockquote-footer">asdasd</footer>
                           Respuesta de la otra persona
                            </span>
                        </div>
                        <div class="d-flex pl-5 justify-content-end ">
						
                            <span style="background-color: #dbf5c6;" class=" text-left p-2 m-1 badge">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</span>
                        </div> 
                        <div class="d-flex pr-5  justify-content-start ">
                                
                            <span style="background-color: #d8edf9 ;"  class="text-left p-2 m-1 badge no-badge">
                            <footer class="blockquote-footer">asdasd</footer>
                           RLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                            </span>
                        </div>
                        <div class="d-flex pr-5  justify-content-start ">
                                
                            <span style="background-color: #d8edf9 ;"  class="text-left p-2 m-1 badge no-badge">
                            <footer class="blockquote-footer">asdasd</footer>
                           Respuesta de la otra persona
                            </span>
                        </div>
                    </div>

                    <form  id="formularioChat"  class="input-group border p-2 mt-md-2 needs-validation" novalidate>
                        <div class="input-group-append">
                            <label class="m-0 mx-1 p-2 cursor-pointer d-flex align-items-center  shadow-none  btn btn-secundary rounded-circle " for="img-chat"><i class="fas fa-file-upload"></i></label>
                            <input type="file" id="img-chat" name="img-chat" style="display:none">				
                        </div>
                        <input type="text" autocomplete="off"  required class="form-control" placeholder="Enviar mensaje" id="inputChat">
    
                        <div class="input-group-append">
                        <button class="btn btn-secundary shadow-none" id="btn_send_message" type="submit"> <i class="fas fa-paper-plane"></i></button>
                        </div>
                        <div class="archivo-chat pt-2 d-flex flex-wrap col-12 bg-colorB">
                            <div class="position-relative col-3 imagen-chat d-none">
                            <span id="remove_imagen" class="position-absolute text-dark rounded-circle cursor-pointer bg-white py-1 px-2" 
                            style="top: 6%; right: 13%; background: rgba(250,250,250, .9); font-weight: bold;"> X</span>
                                <img src="#" alt="..."  width="100%" height="100%" id="view-img-chat">	
                            </div>
                        </div>
                    </form>
                

            </div>
        </div>
    </div>
</div>