
#profile-image-preview {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.avatar {
    display: inline-block;
    white-space: nowrap;
}
.avatar img {
    height: auto;
    max-width: 100%;
    border-radius: 50%;
}  
.profile-image-upload {
    vertical-align: top;
}

.bg-riesgoone{
    background: rgb(0,153,1);
    background: linear-gradient(90deg, rgba(0,153,1,1) 0%, rgba(2,125,3,0.773546918767507) 70%);
}
.bg-riesgotwo{
    background: rgb(2,125,3);
    background: linear-gradient(90deg, rgba(2,125,3,1) 0%, rgba(47,124,27,0.7595413165266106) 100%);
}
.bg-riesgothree{
    background: rgb(47,124,27);
    background: linear-gradient(90deg, rgba(47,124,27,1) 0%, rgba(48,124,27,0.8211659663865546) 100%);
}
.bg-riesgofour{
    background: rgb(48,125,27);
    background: linear-gradient(90deg, rgba(48,125,27,1) 0%, rgba(254,192,0,0.7987570028011204) 100%);
}
.bg-riesgofive{
    background: rgb(254,192,0);
    background: linear-gradient(90deg, rgba(254,192,0,1) 0%, rgba(236,143,2,0.8295693277310925) 100%);
}
.bg-riesgosix{
    background: rgb(236,142,0);
    background: linear-gradient(90deg, rgba(236,142,0,1) 0%, rgba(226,106,10,0.6783088235294117) 100%);
}
.bg-riesgoseven{
    background: rgb(226,106,10);
    background: linear-gradient(90deg, rgba(226,106,10,1) 0%, rgba(208,26,26,0.7343312324929971) 100%);
}
.bg-riesgoeight{
    background: rgb(208,26,26);
    background: linear-gradient(90deg, rgba(208,26,26,0.6979166666666667) 0%, rgba(189,18,18,0.9) 100%);
}
.bg-riesgonine{
    background: rgb(189,18,18);
    background: linear-gradient(90deg, rgba(189,18,18,0.9)  0%, rgba(177,0,0,1) 100%);
}
.bg-riesgoten{
    background: rgb(177,0,0);
    background: linear-gradient(90deg, rgba(177, 0, 0, 0.864) 0%, rgba(177,0,0,1) 100%);
}

.nav-tabs .nav-link{
    color: #4e5e6a;
    position: relative;
    border: none;
}
.nav-tabs .nav-link.active{
    color: #2471a3;
    background-color: transparent ; 
    border-bottom: 2px solid#2471a3 ;   
}
.nav-tabs .nav-link:not(.active):hover:after{
    width: 100%;
}
.nav-tabs .nav-link:after{
    display: block;
    background-color: #2471a3;
    content: "";
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    position: absolute;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.tab-pane .general-form label {
    margin-top: 5px;
}
.tab-pane .general-form .form-control {
    background-color: #fff;
}
.tab-pane .general-form .form-control:focus{
    border-color: #ebeff2;
    background-color: #ebeff2;    
}
.tab-pane{
    /*background: white;*/
    background: linear-gradient(90deg, rgba(243,244,250,1) 25%, rgba(229,233,236,1) 81%);

}
.panel-heading{
    padding: 10px 30px;
    border-bottom: 1px solid transparent;
    color: #4e5e6a;
}
.panel-default{
    /*border-color:#f2f4f6 */
}
.panel-heading h4{
    font-weight: 400;
}
.panel-body{
    padding: 15px;
    padding-bottom: 0px;
  /*  background: white; */
}
.dashed-row .form-group {
    border-bottom: 1px dashed #e2e4e8;
    padding-bottom: 15px;
    display: flex;
}
.option-pais{
	transition: .5s;
	padding: 2px 11px;
}
.option-pais:hover{
	background: #c1c1c1;
}
.panel-footer {
    background: linear-gradient(90deg, rgba(243,244,250,1) 25%, rgba(229,233,236,1) 81%);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 10px 25px;

}
