/*-----------------------------------------------GENERAL------------------------------------------------*/
h1, h2, h3, h4, h5, h6, p, ul, li {
 
    font-family: century gothic !important;
}
.font-60{
    font-size: 60px;
}
.item-header{
    font-size: 26px;
    line-height: 38px;
}
.text-green-black{
    color: #4b8a3c;
}
.cursor-pointer{
	cursor: pointer;
}


/*-----------------------------------------------FORMULARIO REGISTRO------------------------------------------------*/
#home{
	padding-top:112px ;
}
.option-pais{
	transition: .5s;
	padding: 2px 11px;
}
.option-pais:hover{
	background: #c1c1c1;
}

.form-control:focus{
    border-color: transparent;
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,.2)
}
.header{

	background-image:linear-gradient(180deg, rgba(47,47,47, 0.5), rgba(150, 101, 5, 0.5)),url("../assets/images/banner.jpg");
	background-size: cover;
	background-attachment:fixed;
	background-position: center center;
}

.header .logo{
	width: 89px;
}
.header .nav-link{
	color: hsla(0, 0%, 100%, 0.70) !important; 
	font-size: 12px;
	font-weight:bold;	
}
.header .nav-link.active{
	color:white !important;
}
.header .nav-link:hover{
	color:white !important;
}


.header .dropdown-toggle::after{
	/*content: none;*/
}
.header .dropdown-item{
	color: #9f9fa7;
	font-size: 12px;
}
.header .dropdown-item.active{
	color: #184fc2 !important;
	background: none;
}
.header .dropdown-item:hover{
	color: #1c1c1c;
	background: none !important;
}

.header .btn_login{
	padding: 12px 25px !important;
	border-radius:3px; 
	border: 1px solid #ffb341;
	color: black !important;
	background-color: #ffb341 ;
}
.header .btn_login:hover{
	background:transparent;
	border: 1px solid #ffb341;
	color: #ffb341 !important;
}
.bg-redes-sociales{
	background: white;
	border-radius: 50%;
	border: 1px solid white;
}
.text-color-gray{
	color: #777777;
}
.color-facebook{
	color: #0080FF;
}
 .color-facebook:hover{
	color: blue;
}
.color-twitter{
	color:#3F729B;
}
 .color-twitter:hover{
	color: #1DA1F2;
}

.color-youtube{
	color:#FF4A4A;
}
 .color-youtube:hover{
	color:red;
}
.color-instagram{
	color:#EF862C;
}
 .color-instagram:hover{
	color:#FF7A08;
}
.text-decoration-none{
	text-decoration: none;
}
 .hover-redes-sociales:hover{
	border: 1px solid black;
}
.header .dropdown-menu{
	margin-top: -10px;
}
.texto-contactenos{
	font-size: 10px;
	color: black;
		/*font-size:0.8em;
	    line-height: 17px;*/
}
.icons-size-sub-menu{
	font-size: 20px;
}
h2.titulo-contactenos{
	background: url('https://www.restituciondetierras.gov.co//documents/20124/35185/contactenos.png/48a1b6f2-3f0b-9c68-4b45-dfacd1150860?t=1576613263791') left top no-repeat ;
	text-indent: -99999px;

}
.header .footer_pqrs{
	background: url('https://www.restituciondetierras.gov.co//documents/20124/35185/botonPQRDs.png/2cfa2b1b-a9b5-76a6-84ff-e5621eab5204?t=1576613258485') left top no-repeat;
	background-size: 100% 100%;
}
.header .content_pqrs{
	width: 80%;
}
.header .content_pqrs span p{
	color: white;
}
.label-contactenos{
	font-weight:bold;
}

.header .btn-outline-success{
	color: white;
	border-radius: 50%;
	font-size:20px;
	border-color: #044196;
	
}
.header .btn-outline-success:hover{
	background-color: #044196;
	border-color: #011F4A;
}

.header .dropdown-menu{

	z-index:3500;
}

@media (min-width: 250px) and (max-width: 991.8px){
	.header .navbar{
		padding: 0px !important;
		z-index:4000;
	}
	.header .navbar-nav{
		background:#ebebeb;
	}
	.header .nav-link{
		color:#1c1c1c !important;
		transition:background-color 0.4s ease;
	}
	.header .nav-link.active{
		color:#184fc2 !important;
	}
	.header .nav-link:hover{
		background:#fff;
		color:#184fc2 !important;
	}
	.header .btn_login:hover{
	background:transparent;
	color: #ffb341 !important;
	}

}

.btn-primary{
	background: #ec8e00 !important;
	color:white !important;
	border: #ec8e00;

}
.btn-primary:hover, .btn-secundary:active, .btn-secundary:focus{
    background: #ffb351 !important;
    border: none;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    font-weight:bold;
}
.btn-primary:not(:disabled):not(.disabled):active:focus{
	box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}
/*FOOTER */
.copyrights {
    border-top: 0px;
    background-color: #1f1f1f;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 30px 0px;
    overflow: hidden;
}
.footer-distributed form i {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 16px;
    right: 18px;
    color: #999;
    font-size: 18px;
    margin-top: 6px;
}

.footer-distributed .footer-company-name a{
  color: #ffffff;
}

.footer-distributed .footer-company-name a:hover{
  color: #cccccc;
}
.footer-distributed .footer-center {
    float: none;
  text-align: center;
}
.footer-distributed .footer-company-name {
    font-weight: 300;
    margin: 0 10px;
    color: #666;
    padding: 0;
}
.icon-sociales{
    font-size: 22px;
    margin: 4px;
	padding: 4px 11px;
	cursor: pointer;
	transition: .5;
}
.icon-sociales:hover{
	opacity: .8;
}
.bg-facebook{
	background: #056ce4;
}
.bg-instagram{
	background: rgba(241,111,92,1);
	background: -moz-linear-gradient(45deg, rgba(241,111,92,1) 0%, rgba(241,111,92,1) 27%, rgba(217,35,138,1) 55%, rgba(68,61,201,1) 92%, rgba(68,61,201,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(241,111,92,1)), color-stop(27%, rgba(241,111,92,1)), color-stop(55%, rgba(217,35,138,1)), color-stop(92%, rgba(68,61,201,1)), color-stop(100%, rgba(68,61,201,1)));
	background: -webkit-linear-gradient(45deg, rgba(241,111,92,1) 0%, rgba(241,111,92,1) 27%, rgba(217,35,138,1) 55%, rgba(68,61,201,1) 92%, rgba(68,61,201,1) 100%);
	background: -o-linear-gradient(45deg, rgba(241,111,92,1) 0%, rgba(241,111,92,1) 27%, rgba(217,35,138,1) 55%, rgba(68,61,201,1) 92%, rgba(68,61,201,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(241,111,92,1) 0%, rgba(241,111,92,1) 27%, rgba(217,35,138,1) 55%, rgba(68,61,201,1) 92%, rgba(68,61,201,1) 100%);
	background: linear-gradient(45deg, rgba(241,111,92,1) 0%, rgba(241,111,92,1) 27%, rgba(217,35,138,1) 55%, rgba(68,61,201,1) 92%, rgba(68,61,201,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16f5c', endColorstr='#443dc9', GradientType=1 );
}


/*======================================
//--//-->   NAVBAR
======================================*/

.navbar-b {
	transition: all .5s ease-in-out;
	background-color: transparent;

  }
  
  .navbar-b.navbar-reduce {
	box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
  }
  
  .navbar-b.navbar-trans .nav-item,
  .navbar-b.navbar-reduce .nav-item {
	position: relative;

  }
  
  .navbar-b.navbar-trans .nav-link,
  .navbar-b.navbar-reduce .nav-link {
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
  }
  
  .navbar-b.navbar-trans .nav-link:before,
  .navbar-b.navbar-reduce .nav-link:before {
  content: '';
	  position: absolute;
	  margin-left: 0px;
	  width: 0%;
	  bottom: 0;
	  left: 0;
	  height: 2px;
	  transition: all 500ms ease;
  }
  
  .navbar-b.navbar-trans .nav-link:hover,
  .navbar-b.navbar-reduce .nav-link:hover {
	color: #1B1B1B;
  }
  
  .navbar-b.navbar-trans .nav-link:hover:before,
  .navbar-b.navbar-reduce .nav-link:hover:before {
	width: 35px;
  }
  
  .navbar-b.navbar-trans .show > .nav-link:before,
  .navbar-b.navbar-trans .active > .nav-link:before,
  .navbar-b.navbar-trans .nav-link.show:before,
  .navbar-b.navbar-trans .nav-link.active:before,
  .navbar-b.navbar-reduce .show > .nav-link:before,
  .navbar-b.navbar-reduce .active > .nav-link:before,
  .navbar-b.navbar-reduce .nav-link.show:before,
  .navbar-b.navbar-reduce .nav-link.active:before {
	width: 35px;
  }
  
  .navbar-b.navbar-trans .nav-link:before {
	background-color: #fff;
  }
  
  .navbar-b.navbar-trans .nav-link:hover {
	color: #fff;
  }
  
  .navbar-b.navbar-trans .show > .nav-link,
  .navbar-b.navbar-trans .active > .nav-link,
  .navbar-b.navbar-trans .nav-link.show,
  .navbar-b.navbar-trans .nav-link.active {
	color: #fff;
  }
  
  .navbar-b.navbar-reduce {
	transition: all .5s ease-in-out;
	background-color: #343b42;
  }
  
  .navbar-b.navbar-reduce .nav-link {
	color: white;
  }
  
  .navbar-b.navbar-reduce .nav-link:before {
	background-color: #7adae5;
  }
  
  .navbar-b.navbar-reduce .nav-link:hover {
	color: #7adae5;
  }
  
  .navbar-b.navbar-reduce .show > .nav-link,
  .navbar-b.navbar-reduce .active > .nav-link,
  .navbar-b.navbar-reduce .nav-link.show,
  .navbar-b.navbar-reduce .nav-link.active {
	color: #7adae5;
  }
  
  .navbar-b.navbar-reduce .navbar-brand {
	color: white;
  }
  

  
  .navbar-b .navbar-brand {
	color: #fff;
	font-size: 1.6rem;
	font-weight: 600;
  }
  
  .navbar-b .navbar-nav .dropdown-item.show .dropdown-menu,
  .navbar-b .dropdown.show .dropdown-menu,
  .navbar-b .dropdown-btn.show .dropdown-menu {
	-webkit-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
	visibility: visible !important;
  }
  
  .navbar-b .dropdown-menu {
	margin: 1.12rem 0 0;
	border-radius: 0;
  }
  
  .navbar-b .dropdown-menu .dropdown-item {
	padding: .7rem 1.7rem;
	transition: all 500ms ease;
  }
  

  
  
  /*-------------------------------
  ------RESPALDO CSS HOME ---------
  -------------------------------*/

  .modal{
    z-index:10000  ;
}
h1, h2, h3, h4, h5, h6, p, li, ul {

    font-family: century gothic !important;
}
.shadow{
    box-shadow: rgba(255,179,81,.7) 0 3px 11px 0 !important;
}
.square{
    flex-direction: column;
    display: flex !important;
    flex-wrap: wrap;   
}
.img-hablan{
    display: flex;
    flex-direction: column;
    background-size: contain;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.cursor-pointer{
    cursor: pointer;
}
.modal-image{
    transition: .5s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.modal-image:hover{
    box-shadow: rgba(255,179,81,.7) 0 3px 11px 0 !important;
    transform: scale(1.1);
}
.page-section__title {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    position: relative;
}
.before_marron:before{
    content: '';
    position: absolute;
    height: 3px;
    background-color: #ec8e00;
    width: 100px;
    bottom: -12px;
}
.before_verder:before{
    content: '';
    position: absolute;
    height: 3px;
    background-color: #4b8a3c;
    width: 100px;
    bottom: -12px;
}


#copy-trading{
    background: url('../assets/images/bg_tranding.jpg') no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
}
#copy-trading:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 67, 11, .6);
    z-index: -1;
}

#preguntas_frecuentes{
    background: url('../assets/images/faqs.jpg') no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
}
#preguntas_frecuentes:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 67, 11, .6);
    z-index: -1;
}


.page-section {
    padding-top: 60px;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    padding: 10px 40px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
}
.indice-copy-trading-header{
    float: none !important;
    top: 0 !important;
    left: 0 !important;
    width: 110px !important;
    position: relative !important;
    height: 114px !important;
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
    margin-right: auto !important;
    margin-left: -59px !important;
    max-width: 100% !important;
    margin-top: -44px !important;
    margin-bottom: 0 !important;
    padding-right: 0 !important;
    min-width: 0 !important;
    text-align: center !important;
    display: block !important;   
}
.container-text {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;    
}
.tranforw-matrix{
    transition: .7s;
}
.thumbnail:hover .tranforw-matrix {
    transform: matrix3d(1, -0.100, 1.0886,0, 0.61422, 1.1886, 0, 0, 0,-3, 1, 0, 0, 0, 0, 1)
}
.avatar {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
}
.avatar img {
    height: auto;
    max-width: 100%;
}
/*======================================
//--//-->   CONTACTAME
======================================*/
.contact_form textarea.form-control{
    min-height: 225px;
  }
  .contact_form {
      border: 1px solid #ededed;
      box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
      background-color: white;
      padding: 40px 30px;
  }
  
  .contact_form .form-control {
      background-color: #333333;
      margin-bottom: 30px;
      border: 1px solid #ebebeb;
      box-sizing: border-box;
      color: #bcbcbc;
      font-size: 16px;
      outline: 0 none;
      padding: 10px 25px;
      height: 55px;
      resize: none;
      box-shadow: none !important;
      width: 100%;
    border-radius: 0px;
  }
  
  .contact_form textarea {
      color: #bcbcbc;
      padding: 20px 25px !important;
      height: 310px !important;
  }
  
  .contact_form .form-control::-webkit-input-placeholder {
      color: #bcbcbc;
  }
  
  .contact_form .form-control::-moz-placeholder {
      opacity: 1;
      color: #bcbcbc;
  }
  
  .contact_form .form-control::-ms-input-placeholder {
      color: #bcbcbc;
  }
  #contact {
    background: url("../assets/images/contact.jpg") no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
  }
   #contact:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(52, 59, 66, .6);
    z-index: -1;
   }
   .btn_contactac{
    background-color: #e4436e;
    color: white;
    transition: 0.3 all;
  }
  .btn_contactac:hover{
    background-color: #717171;
    color: white
  }
 
  