#test { 
  background: linear-gradient(180deg, rgb(58 56 56 / 50%), rgb(33 31 31 / 50%)), url(../../../assets/images/banner.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}
  
img{
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}
  
#login-button{
  cursor: pointer;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgb(255 204 16 / 52%);
  overflow: hidden;
  display: flex;
  box-shadow: 10px 10px 30px #000;
}
  
  /* Login container */
#container{
  border-radius: 5px;
  background: rgb(255 204 16 / 52%);
  box-shadow: 1px 1px 50px #000;
  display: none;
}
  
.close-btn{
  position: absolute;
  cursor: pointer;
  line-height: 18px;
  top: 3px;
  right: 3px;
  text-align: center;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
  
.close-btn:hover{
  opacity: .5;
}
  
  /* Heading */
h1{

  position: relative;
  margin-top: 0px;
  text-align: center;
  font-size: 40px;
  color: #ddd;
  text-shadow: 3px 3px 10px #000;
}
  
  /* Inputs */
a,
input{

  text-decoration: none;
  position: relative;
  width: 80%;
  display: block;
  margin: 9px auto;
  font-size: 17px;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: rgb(0 0 0 / 69%);
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
  
input:focus{
  outline: none;
  box-shadow: 3px 3px 10px #333;
  background: rgba(3,3,3,.18);
}
  
/* Placeholders */
::-webkit-input-placeholder {
    color: #ddd;  }
:-moz-placeholder { /* Firefox 18- */
    color: red;  }
::-moz-placeholder {  /* Firefox 19+ */
    color: red;  }
:-ms-input-placeholder {  
    color: #333;  }
  
/* Link */
a{
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  padding: 4px 8px;
  background: rgba(107,255,3,0.3);
}

a:hover{
  opacity: 0.7;
}

