/* You can add global styles to this file, and also import other style files */


/*-----------------------------------------------GENERAL------------------------------------------------*/
h1, h2, h3, h4, h5, h6, p, ul, li {
 
    font-family: century gothic !important;
}
.custom-file-label::after{
    content: "Imagen" !important;
}
.font-60{
    font-size: 60px;
}
.bg-gray-gradient{
    background: linear-gradient(90deg, rgb(246 246 249) 25%, rgb(248 252 255) 81%)
}
.btn {
  border: none;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  padding: 6px 16px;
  font-family: Muli,Roboto,"Helvetica",Arial,sans-serif;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 1rem;
  color: white;
}
.btn-primary{
	background: #ec8e00 !important;
	color:white !important;
	border: #ec8e00 !important;

}
.cursor-pointer{
    cursor: pointer;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
    background: #ffb351 !important;
    border: #ec8e00 !important;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    font-weight:bold;
}
.btn-primary:not(:disabled):not(.disabled):active:focus{
	box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}
.btn-secundary{
	background: #ffb341 !important;
	color:black !important;
    border: #ffb341;
}
.btn-secundary:hover, .btn-secundary:active, .btn-secundary:focus{
    background: #ffb351 !important;
   border: #ffb351 !important;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    font-weight:bold;
}
.btn-secundary:not(:disabled):not(.disabled):active:focus{
	box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}
.spinner-border{
	margin-right: 10px;
}
/*** FIN GENERAL*/